body {
    background-color: #EDEEF0;
    font-family: Inter, sans-serif;
}

.header {
    width: 100%;
    min-height: 40px;
    z-index: 10;
    background-color: #FFFFFF;

    border-bottom: 2px solid #CDCDCD;

}

.header nav {
    margin: auto;
    min-height: inherit;
    width: fit-content;
}

.header nav ul {
    display: flex;
    min-height: inherit;
    align-items: stretch;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header nav li {
    display: flex;
}

.header nav .li-selected {
    border-bottom: 2px solid #FD8C73;
    margin-bottom: -2px;
}


.header nav a{
    text-decoration: none;
    color: #1B1B1B;
    padding: 10px 8px;
    margin: 5px 0;

    font-weight: 500;
    font-size: 16px;

    border-radius: 5%;
}

.header nav a:hover{
    background-color: #FFD7DE;
    color: #DB0038;
}

.letter-section {
    max-width: 600px;
    margin: 15px auto auto;
    padding: 15px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #CDCDCD;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 15px;
}

.custom-input label,
.custom-date label,
.custom-select label,
.custom-textarea label{
    display: block;
    color: #5F6B8F;
    user-select: none;
}

.custom-input input,
.custom-date input,
.custom-select select,
.custom-textarea textarea,
.letter-save-btn {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 7px 12px 7px 12px;
    font-weight: 500;
}

.custom-textarea textarea {
    resize: vertical;
    min-height: 64px;
}

.text-area-small textarea{
    min-height: 40px;
    height: 40px;
}

.custom-checkbox label {
    padding-left: 4px;
    user-select: none;
}

.custom-checkbox input {
    user-select: none;
}

.drag-and-drop-file {
    border: 1px dashed #dee2e6;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drag-and-drop-file p {
    margin: 0;
}

.drag-and-drop-file p:before {
    display: block;
    background-image: url("../icons/fileIcon.svg");
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.dividing-line {
    height: 1px;
    background-color: #CDCDCD;
    margin-top: 15px;
    margin-bottom: 15px;
}

.letter-save-btn {
    background-color: #2F6ADD;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.letter-save-btn:hover {
    background-color: #2759bb;
}


